@model IEnumerable<MVCAplication.Models.Release>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var teste = Model;

    var count = 0.0;
}

<h2>Releases</h2>
@using (Html.BeginForm("Index","Releases",FormMethod.Get))
{
    <div class="form-horizontal">
        <div class="form-group form-group-sm">
            <div class="col-md-8">
                <h5>Filter Date:</h5>

                Initial Date: @Html.TextBox("startdate", null)    
                <br/>
                <br />
                Final Date:  @Html.TextBox("enddate", null )
            </div>
        </div>
        <div class="form-group-sm">
            <div class="col-md-offset-2 col-md-10">
               <input type="submit" class="btn btn-success" value="Submit"/>

            </div>
        </div>
    </div>

}
<section id="releaseSectionList">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped" id="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Quantity before transaction
            </th>
            <th>
                Quantity After transaction
            </th>

            <th></th>
        </tr>
        @{
            var result = Model;
         
            foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @count
            </td>

            @if (item.Status.ToString() == "Pending" && item.Type.ToString() == "Saida" && item.ReleaseDate < DateTime.Now)
            {
                <td style="color:red; font-weight:bold; ">
                    @count
                </td>
            }

            @if (item.Status.ToString() == "Pending" && item.Type.ToString() == "Saida" && item.ReleaseDate > DateTime.Now)
            {
                <td style="color:red; ">
                    @count
                </td>
            }

            @if (item.Status.ToString() == "Made" && item.Type.ToString() == "Saida")
            {
                count -= item.Value;
                if (count < 0)
                {
                    <td style="color:black; font-weight:bold;">@count</td>
                }
                else
                {
                    <td style="color:greenyellow">@count</td>
                }

            }

            @if (item.Status.ToString() == "Made" && item.Type.ToString() == "Entrada")
            {
                count += item.Value;

                <td style="color:green">@count</td>
            }

            @if (item.Status.ToString() == "Pending" && item.Type.ToString() == "Entrada" && item.ReleaseDate > DateTime.Now)
            {
                <td style="color:cornflowerblue;font-weight:bold">@count</td>
            }

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
            }
        }
    </table>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script>

    var enddate= document.getElementById("enddate");
    enddate.type = "date"
    enddate.className = "form-control"

    var startdate = document.getElementById("startdate");
    startdate.type = "date"
    startdate.className = "form-control"
    
</script>
